@import "./settings";


.App{
  width: 1200px;
  margin: 0 auto;
}
.flexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.carte-pokemon{
    background-color:$color-1;
    color: $white;
    width: 300px;
    margin: 20px;
    padding: 20px;

  }